<header id="header">
        <a href="/">
            <img id="logo" src="logo.png" alt="Logo">
        </a>
    
    <div class="bar__menu">
        <ul>
            <a href="/">Inicio</a>
        </ul>
        <ul>
            <a href="/faturamento">Faturamento</a>
        </ul>
        <ul>
            <a href="percentual-estado">Percentual Por Estado</a>
        </ul>
    </div>
    <button class="mobile__menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </button>
</header>