<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <main>
        <div>
            <h1 class="title">Inverter texto</h1>
            <input id="reverse" type="text">
            <button id="btn__invert">Inverter</button>
            <div id="conteudo"></div>
        </div>
    
        <div>
            <h1 class="title">Verifica se numero pertence a Fibonacci</h1>
            <p>Numero que deseja verificar se tem</p>
            <input id="numFibonacci" type="number">
            <p>Tamanho da sequência</p>
            <input id="seqFibonacci" type="number"><br><br>
            <button id="btn__fibonacci">Verificar</button>
            <div id="print"></div>
        </div>
    </main>
<script src="responsiveMobile.js"></script>
<script src="invertText.js"></script>
<script src="fibonacci.js"></script>
<script src="ocultShow.js"></script>
</body>
</html>