<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <main>
        <div>
            <h1 class="title">Percentual recebido por Estado</h1>
            <button class="btn__display" value="1">Resultado</button>
            <section class="show1"><br>
                <h2>Valor total R$ <%= total.total %></h2>
                <% percent.forEach(r => { %>
                    <tr>
                        <td><%= r.porcentage.estado %>: %<%= r.porcentage.valor %> </td><br>
                        
                    </tr>
                <% }) %>
            </section><br>
        </div>
    </main>

<script src="responsiveMobile.js"></script>
<script src="ocultShow.js"></script>
</body>
</html>